<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="game.libretro.mame2010">
		<category id="general" label="128">
			<group id="1">
				<setting id="mame_current_xy_type" type="string" label="30001">
					<level>0</level>
					<default>mouse</default>
					<constraints>
						<options>
							<option>mouse</option>
							<option>lightgun</option>
							<option>none</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_videoapproach1_enable" type="string" label="30002">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_skip_nagscreen" type="string" label="30003">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>enabled</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_skip_gameinfo" type="string" label="30004">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_skip_warnings" type="string" label="30005">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_aspect_ratio" type="string" label="30006">
					<level>0</level>
					<default>DAR</default>
					<constraints>
						<options>
							<option>DAR</option>
							<option>PAR</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_turbo_button" type="string" label="30007">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>button 1</option>
							<option>button 2</option>
							<option>R2 to button 1 mapping</option>
							<option>R2 to button 2 mapping</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_turbo_delay" type="string" label="30008">
					<level>0</level>
					<default>medium</default>
					<constraints>
						<options>
							<option>medium</option>
							<option>slow</option>
							<option>fast</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_frame_skip" type="string" label="30009">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_sample_rate" type="string" label="30017">
					<level>0</level>
					<default>48000Hz</default>
					<constraints>
						<options>
							<option>48000Hz</option>
							<option>44100Hz</option>
							<option>32000Hz</option>
							<option>22050Hz</option>
							<option>11025Hz</option>
							<option>8000Hz</option>
							<option>96000Hz</option>
							<option>Auto</option>
							<option>Manual</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_multithreading" type="string" label="30015">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_adj_brightness" type="string" label="30011">
					<level>0</level>
					<default>default</default>
					<constraints>
						<options>
							<option>default</option>
							<option>+1%</option>
							<option>+2%</option>
							<option>+3%</option>
							<option>+4%</option>
							<option>+5%</option>
							<option>+6%</option>
							<option>+7%</option>
							<option>+8%</option>
							<option>+9%</option>
							<option>+10%</option>
							<option>+11%</option>
							<option>+12%</option>
							<option>+13%</option>
							<option>+14%</option>
							<option>+15%</option>
							<option>+16%</option>
							<option>+17%</option>
							<option>+18%</option>
							<option>+19%</option>
							<option>+20%</option>
							<option>-20%</option>
							<option>-19%</option>
							<option>-18%</option>
							<option>-17%</option>
							<option>-16%</option>
							<option>-15%</option>
							<option>-14%</option>
							<option>-13%</option>
							<option>-12%</option>
							<option>-11%</option>
							<option>-10%</option>
							<option>-9%</option>
							<option>-8%</option>
							<option>-7%</option>
							<option>-6%</option>
							<option>-5%</option>
							<option>-4%</option>
							<option>-3%</option>
							<option>-2%</option>
							<option>-1%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_adj_contrast" type="string" label="30012">
					<level>0</level>
					<default>default</default>
					<constraints>
						<options>
							<option>default</option>
							<option>+1%</option>
							<option>+2%</option>
							<option>+3%</option>
							<option>+4%</option>
							<option>+5%</option>
							<option>+6%</option>
							<option>+7%</option>
							<option>+8%</option>
							<option>+9%</option>
							<option>+10%</option>
							<option>+11%</option>
							<option>+12%</option>
							<option>+13%</option>
							<option>+14%</option>
							<option>+15%</option>
							<option>+16%</option>
							<option>+17%</option>
							<option>+18%</option>
							<option>+19%</option>
							<option>+20%</option>
							<option>-20%</option>
							<option>-19%</option>
							<option>-18%</option>
							<option>-17%</option>
							<option>-16%</option>
							<option>-15%</option>
							<option>-14%</option>
							<option>-13%</option>
							<option>-12%</option>
							<option>-11%</option>
							<option>-10%</option>
							<option>-9%</option>
							<option>-8%</option>
							<option>-7%</option>
							<option>-6%</option>
							<option>-5%</option>
							<option>-4%</option>
							<option>-3%</option>
							<option>-2%</option>
							<option>-1%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame_current_adj_gamma" type="string" label="30013">
					<level>0</level>
					<default>default</default>
					<constraints>
						<options>
							<option>default</option>
							<option>+1%</option>
							<option>+2%</option>
							<option>+3%</option>
							<option>+4%</option>
							<option>+5%</option>
							<option>+6%</option>
							<option>+7%</option>
							<option>+8%</option>
							<option>+9%</option>
							<option>+10%</option>
							<option>+11%</option>
							<option>+12%</option>
							<option>+13%</option>
							<option>+14%</option>
							<option>+15%</option>
							<option>+16%</option>
							<option>+17%</option>
							<option>+18%</option>
							<option>+19%</option>
							<option>+20%</option>
							<option>-20%</option>
							<option>-19%</option>
							<option>-18%</option>
							<option>-17%</option>
							<option>-16%</option>
							<option>-15%</option>
							<option>-14%</option>
							<option>-13%</option>
							<option>-12%</option>
							<option>-11%</option>
							<option>-10%</option>
							<option>-9%</option>
							<option>-8%</option>
							<option>-7%</option>
							<option>-6%</option>
							<option>-5%</option>
							<option>-4%</option>
							<option>-3%</option>
							<option>-2%</option>
							<option>-1%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame-external_hiscore" type="string" label="30014">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="mame2010-qsound_hle" type="string" label="30016">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>
